<% if user_signed_in?  %>
  <table class="table table-bordered">
    <th><%= t :new_feed %></th>  
    <% current_user.following.each do |user| %>
      <% if user.activities.any? %>
        <tr>
          <td><%= link_to user.email, user_path(user) %></td>
          <% user.activities.each do |activity| %>
            <tr>
              <%= render activity, user: user %>
          <% end %> 
        </tr>
      <% end %>
    <% end %>
  </table>  
<% else %>
  <div class="center jumbotron">
    <h1><%= t :welcome_to_app %></h1>
    <%= link_to t(:sign_up), signup_path, class: "btn btn-lg btn-primary" %>
  </div>  
<% end %>

