<tr id="book_<%= book.id %>">
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td>
    <%= book.description %>
    <%= image_tag book.picture.url if book.picture? %>
  </td>
  <td>
    <%= link_to t(:details_link), book_path(book) %>

    | <%= link_to t(:edit_link), edit_admin_book_path(book), remote: true %>

    | <%= link_to t(:delete_link), admin_book_path(book), method: :delete, remote: true, data: {confirm: t(:confirm_notification)} %>
  </td>
</tr>
