<tr id="book_<%= book.id %>">
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.description %></td>
  <td><%= image_tag book.picture.url if book.picture? %></td>
  <td><%= book.rating %></td>
  <td>
    <%= link_to t(:details), admin_book_path(book),
                             class: "btn btn-success" %>

    <%= link_to t(:edit), edit_admin_book_path(book), remote: true,
                          class: "btn btn-primary" %>

    <%= link_to t(:delete), admin_book_path(book), method: :delete,
                            remote: true, data: {confirm: t(:confirm)},
                            class: "btn btn-danger" %>
  </td>
</tr>
