<div class="container">

  <h1><%= t :all_books %></h1>

  <div class="well">
    <%= link_to t(:new_book), new_admin_book_path, remote: true,
                              class: "btn btn-primary" %>
  </div>

  <%= will_paginate %>
  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th class="col-md-2"><%= t :title %></th>
      <th class="col-md-1"><%= t :author %></th>
      <th class="col-md-3"><%= t :description %></th>
      <th class="col-md-2"><%= t :cover %></th>
      <th class="col-md-3"><%= t :actions %></th>
    </tr>
    </thead>
    <tbody id="books">
      <%= render @books %>
    </tbody>
  </table>

  <%= render "dialog" %>
</div>
