<ul>
  <h3 class="content"><%= review.content %></h3>
  <h4><%= review.user.email %></h4>
  <h4><%= review.book.title %></h4>
  <h4 class="timestamp"><%= time_ago_in_words(review.created_at) %></h4>
  <%= link_to t(:delete), [:admin, review],
      method: :delete, data: {confirm: t(:confirm)} %>
  <hr/>
  <ul>
    <% review.comments.each do |comment| %>
      <h3><%= comment.content %></h3>
      <h4><%= comment.user.email %></h4>
      <h4 class="timestamp"><%= time_ago_in_words(comment.created_at) %></h4>
      <%= link_to t(:delete), [:admin, review, comment],
                              method: :delete, data: {confirm: t(:confirm)} %>
      <hr/>
    <% end %>
  </ul>
</ul>
