<% provide :title, @user.email %>
<h3>
  <%= @user.email %>
</h3>
<div class="col-md-1 col-offset-2">
  <%= link_to t(:following), friendship_path(user_id: @user.id, type: "following") %>
  <span class="badge"><%= @user.following.count %></span>
</div>
<div class="col-md-1 col-offset-2">
  <%= link_to t(:followers), friendship_path(user_id: @user.id, type: "followers")%>
  <span class="badge"><%= @user.followers.count %></span>
</div>
<div class="col-md-6">
  <%= t :activities %>
  <%= render @user.activities, user: @user %>
</div>

