<div class="col-md-4" data-no-turbolink="true">
  <%= image_tag book.picture.url %>
</div>
<div class="col-md-8" data-no-turbolink="true">
  <li><%= t :title %> : <%= book.title %></li>
  <li><%= t :author %> : <%= book.author %></li>
  <li><%= t :description %> : <%=book.description %></li>
  <li> <%= t :rating %> : <%= book.rating %>
</div>