<tr id="book_<%= book.id %>" class="success">
  <td>
    <%= book.title %>
  </td>
  <td>
    <%= book.author %>
  </td>
  <td>
    <%= book.description %>
  </td>
  <td>
    <%= image_tag book.picture.url if book.picture? %>
  </td>
  <td>
    <div id="favorite-<%= book.id %>">
      <% unless current_user.nil? %>
        <% unless current_user.favorite? book %>
          <%= render "perusals/favorite", book: book %>
        <% else %>
          <%= render "perusals/unfavorite", book: book %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
