<p class="padding-left-20"><b><%= t :title%>&#58;&nbsp;&nbsp;&nbsp;</b><%= @book.title %></p>
<p class="padding-left-20"><b><%= t :author%>&#58;&nbsp;&nbsp;&nbsp;</b><%= @book.author %></p>
<p class="padding-left-20"><b><%= t :ISBN%>&#58;&nbsp;&nbsp;&nbsp;</b><%= @book.ISBN %></p>
<p class="padding-left-20"><b><%= t :description%>&#58;&nbsp;&nbsp;&nbsp;</b><%= @book.description %></p>
