<%= search_form_for @search, as: :book_search do |f| %>
  <tr>
    <td>
      <%= f.label :search_by_title %>
      <%= f.search_field :title_cont %> 
    </td>
    <td>
      <%= f.label :search_by_author %>
      <%= f.search_field :author_cont %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit t(:search), class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>
