<div class="container">
  <table>
    <%= render "search" %>
  </table>
</div>
<div>
  <%= will_paginate %>
  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th><%= t :title %></th>
      <th><%= t :author %></th>
      <th><%= t :description %></th>
      <th><%= t :actions %></th>
    </tr>
    </thead>
    <tbody id="books">
      <%= render @books %>
    </tbody>
  </table>
</div>
