<div class="container">
  <table>
    <%= render "search" %>
  </table>
</div>
<div>
  <%= will_paginate %>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="col-md-2 info header_cell"><%= t :title %></th>
        <th class="col-md-1 info header_cell"><%= t :author %></th>
        <th class="col-md-3 info header_cell"><%= t :description %></th>
        <th class="col-md-2 info header_cell"><%= t :cover %></th>
        <th class="col-md-1 info header_cell"><%= t :rating %></th>
        <th class="col-md-3 info header_cell"><%= t :actions %></th>
      </tr>
    </thead>
    <tbody id="books">
      <%= render @books %>
    </tbody>
  </table>
</div>
