<tr>
  <td><%= request.id %></td>
  <td><%= request.book_name %></td>
  <td><%= request.description %></td>
  <td><%= request.author %></td>
  <td><%= request.ISBN %></td>
  <td><%= request.user.email%></td>
  <td><%= link_to t(:delete),admin_request_path(request.id),
    method: :delete, data: {confirm: t(:confirm)} %></td>
  <% if request.pending? %>
    <td id="new_status-<%= request.id %>">
      <%= link_to t(:accept), admin_request_path(request.id, new_status: :accepted),
        method: :patch, remote: true, request: request %>
      <%= link_to t(:reject), admin_request_path(request.id, new_status: :rejected),
        method: :patch, remote: true, request: request %>
    </td>
  <% else %>
    <td><%= request.status %></td>
  <% end %>
</tr>
