<ul>
  <h3 class="content"><%= review.content %></h3>
  <h4><%= review.user.email %></h4>
  <h4><%= review.book.title %></h4>
  <h4 class="timestamp"><%= time_ago_in_words(review.created_at) %></h4>
  <% if current_user == review.user  %>
    <%= link_to t(:delete), book_review_path(review.book.id, review.id),
        method: :delete, data: {confirm: t(:confirm)} %>
  <% elsif current_user.admin? %>
    <%= link_to t(:delete), [:admin, review],
                            method: :delete, data: {confirm: t(:confirm)} %>
  <% end %>
  <h3><u>Comments</u></h3>
  <ul>
    <% review.comments.each do |comment| %>
      <h4><%= comment.content %></h4>
      <h5><%= comment.user.email %></h5>
      <h5 class="timestamp"><%= time_ago_in_words(comment.created_at) %></h5>
      <% if current_user == comment.user %>
        <%= link_to t(:delete), review_comment_path(review.id, comment),
                                method: :delete, data: {confirm: t(:confirm)} %>
      <% elsif current_user.admin? %>
        <%= link_to t(:delete), [:admin, comment],
                                method: :delete, data: {confirm: t(:confirm)} %>
      <% end %>
      <hr/>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <p>
      <section class="comment_form">
        <%= render "shared/comment_form", review: review %>
      </section>
    </p>
  <% end %>
  <hr/>
</ul>
