<div class="both-clear">
  <br>
  <div class="col-md-11">
    <p class="text-justify"><b><%= review.thesis_statement %></b></p>
  </div>
  <div class="col-md-1">
    <% unless current_user.nil? %>
      <% if current_user == review.user %>
        <%= link_to review_path(review), method: :patch do %>
          <span class="glyphicon glyphicon-edit padding-left-40"></span>
        <% end %>
      <% end %>
      <% if current_user == review.user || current_user.admin? %>
        <%= link_to review_path(review), method: :delete do %>
          <span class="glyphicon glyphicon-remove pull-right"></span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-12 both-clear">
    <p>
      <span><%= t :by %> <%= link_to review.user.email, user_path(review.user) %></span>
    </p>
    <p class="text-justify"><%= review.content %></p>
  </div>

  <div class="col-md-12 both-clear padding-left-50 padding-right-50">
    <%= render partial: "comments/comment", collection: review.comments, as: :comment %>
  </div>

  <div class="col-md-12 both-clear padding-left-50 padding-right-50">
    <br>
    <% unless current_user.nil? %>
      <div class="col-md-12">
        <%= render "comments/form", review: review %>
      </div>
    <% else %>
      <div class="col-md-12">
        <%= link_to t(:leave_a_comment), "#", class: "btn btn-primary login_notification" %>
      </div>
    <% end %>
  </div>
</div>
